beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
Django==2.1.1
idna==2.7
lxml==4.2.4
git+https://github.com/eyedevelop/nsapi-python@9f9c7c0de
pytz==2018.5
requests==2.19.1
urllib3==1.23
