  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://tssl.eu/gluidv3/css/basis.css">
    <title>Departures</title>
  <div class="content_container_top">
    <div class="content_designelement d_train"></div><br>
    <h1 class="news_article_h1">NS Vertrektijden & storingen</h1>
  </div>
<div class="content_container">


<div class="disruption_container">
{% for unexpected_disruption_id, unexpected_disruption_info in badd.unexpected.items %}


    <div class="disruption" style="box-sizing: border-box;">
<div class="upper_disruption">
<p class="trajectory"> {{ unexpected_disruption_info.trajectory }} </p>
</div>
<div class="lower_disruption">
<p class="period"> {{ unexpected_disruption_info.period|default_if_none:"" }} </p>
<p class="reason"> {{ unexpected_disruption_info.reason }} </p>
<p class="message"> {{ unexpected_disruption_info.message }} </p>
<p class="advice"> {{ unexpected_disruption_info.advice|default_if_none:"" }} </p>
</div>
</div>

{% endfor %}

    </div>
    <div class="train_container">
{% for train_id, train_info in gutt.items %}
<div class="train">
<div class="upper">
<p class="departuretime"> {{ train_info.departure_time }} </p>
<p class="traintype">{{ train_info.train_type }}</p>
<p class="traindestination">{{ train_info.destination }}</p>
<p class="platform">{{ train_info.departs_from.platform }}</p>
</div>
<div class="lower">
<p class="via">{{ train_info.via_text }}</p>
<p class="comments">{{ train_info.comments|default_if_none:"" }}{{ train_info.tip|default_if_none:"" }}</p>
<p class="delay">{{ train_info.delay.reason|default_if_none:"" }}</p>
</div>
</div>
{% endfor %}
</div>
</div>

</html>


<script>
setInterval(
  function(){$('.delay').fadeIn(800).delay(800).fadeOut(400)}, 3000);
</script>

<script>
setInterval(
  function(){$('.comments').fadeIn(800).delay(800).fadeOut(400)}, 3000);
</script>

<script>
$(window).on('load', function() {
  $("html, body").animate({ scrollTop: $(document).height() }, 60000);
});
</script>

<script>
    var colors = ['.5vw red solid','2.5vw red solid'];
var step = 0;
window.setInterval(function(){
    $(".disruption").css('border-left',colors[step]);
    if(step==colors.length-1)
        step=0;
    else
        step+=1;
},500);
</script>

<style>

    * {
        margin: 0;
        padding: 0;
    }


</style>